{% extends 'base.html' %}
{% load static %}
{% block titulo_pagina %}Administración de Profesores{% endblock %}
{% block body %}
    <form class="form" method="post" enctype="multipart/form-data" novalidate=''>
        {% csrf_token %}
        {{ form.materia_codigo.label }} {{ form.materia_codigo }}
        {{ form.alumno_nro_registro.label }} {{ form.alumno_nro_registro }}
        {{ form.nota_1.label }} {{ form.nota_1 }}
        {{ form.nota_2.label }} {{ form.nota_2 }}
        {{ form.nota_3.label }} {{ form.nota_3 }}
        <br>
        <button type="submit" id="submit">Enviar</button>
    </form>
{% endblock %}