{% extends 'base.html' %}
{% load static %}
{% block titulo_pagina %}Administración de Profesores{% endblock %}
{% block body %}
    <form class="form" method="post" enctype="multipart/form-data" novalidate=''>
        {% csrf_token %}
        {{ form.aula_idAula.label }} {{ form.aula_idAula }}
        {{ form.turno_idTurno.label }} {{ form.turno_idTurno }}
        {{ form.hora_ingreso.label }} {{ form.hora_ingreso }}
        {{ form.hora_egreso.label }} {{ form.hora_egreso }}
        <br>
        <button type="submit" id="submit">Enviar</button>
    </form>
{% endblock %}